<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spam Cases | Administrator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/Xbribe_logo.png" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="/css/animate.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/my-styles.css">
		<link rel="stylesheet" type="text/css" href="/css/table-dashboard.css">
  </head>
  <body>

	  <!-- loader -->
		<div id="xbribe-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<nav class="navbar navbar-expand-lg navbar-dark xbribe_navbar bg-dark xbribe-navbar-light" id="xbribe-navbar">
	    <div class="container">
	    	<a class="navbar-brand" href="/admin">Administrator</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#xbribe-nav" aria-controls="xbribe-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="xbribe-nav">
	        <ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
						<li class="nav-item"><a href="/" class="nav-link">Public Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/cases">See cases</a></li>
						<!-- <li class="nav-item"><a class="nav-link" href="manage-ministry">Manage Ministries</a></li> -->
	          <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#filterModal">Filter Posts</a></li>
	          <li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

		<!-- filter Modal -->
		<div class="modal fade" id="filterModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
				
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Select filters</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
						<form id="filterForm" method="get" action="/admin/cases">

							<div class="form-group">
								<label for="ministryId"><b>Ministry</b></label>
								<select name="ministryId" class="custom-select">
									<option value="any">Any Ministry</option>
									<% if (ministries) { Object.keys(ministries).forEach((key) => { %>
										<option class="w3-input w3-border" value="<%= key %>"><%= ministries[key] %></option>
									<% })} %>
								</select>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="from"><b>Date (From):</b></label>
										<input class="form-control" name="from" type="date">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="to"><b>Date (To):</b></label>
										<input class="form-control" name="to" type="date">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="status"><b>Case Status</b></label>
								<select name="status" class="custom-select">
									<option value="any">Any</option>
									<option value="submitted">Received</option>
									<option value="accepted">Accepted</option>
									<option value="archived">Archived</option>
									<option value="resolved">Resolved</option>
								</select>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="orderBy"><b>Order By</b></label>
										<select name="orderBy" class="custom-select">
											<option value="new">Newest first</option>
											<option value="old">Oldest first</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="size"><b>Posts per page</b></label>
										<select name="size" class="custom-select">
											<option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
										</select>
									</div>
								</div>
							</div>

							<button type="submit" class="btn btn-primary btn-block">Apply Filter</button>
						</form>
					</div>
					
				</div>
			</div>
		</div>

    <section class="hero-wrap hero-wrap-22 bg-dark" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 xbribe-animate pb-4 pt-4">
            <h1 class="mb-0 text-dark breadd pt-5 mt-5">ADMINISTRATOR</h1>
          </div>
        </div>
      </div>
		</section>
		

		<!-- notification panel start -->
		<% if (reminders) { %>

			<div class="fab mycard icon d-flex align-items-center justify-content-center" id="notification-fab">
				<span class="fa fa-bell"></span>
				<div class="count-badge mycard" id="count-badge"><%= reminders.length %></div>
			</div>
	
			<div class="bg-white mycard p-2" id="notif-container">
				<!-- loop over all cases and render them -->
				<% if (reminders.length) { %>
					<% for (var i=0; i < reminders.length; i++) { %>
						<% var reminder = reminders[i] %>
	
						<div class="notification py-3 px-3 bg-light-" onClick="location.href='/admin/cases/case?id=<%= reminder.caseId %>'">
							<h6 class="mb-1">Case ID: <%= reminder.caseId %></h6>
							<p class="mb-0"><b>Dep:</b> <%= reminder.department %></p>
							<p class="mb-0"><b>Place:</b> <%= reminder.place %>, <%= reminder.date.toLocaleString() %></p>
							<p class="mb-0"><b>Last Reminded:</b> <%= reminder.remindedAt.toLocaleString() %></p>
						</div>
						<hr class="m-0">
	
				<% }} else { %>
					<div class="alert alert-danger mb-2">No reminders</div>
				<% } %>
	
			</div>

		<% } %>
		<!-- notification panel end -->


		<section class="xbribe-section bg-light xbribe-faqs">
    	<div class="container">

				<div class="heading-section xbribe-animate row mb-3 mt-0 pt-0">
          <div class="col-md-6">
            <h2 class="mb-2">Spam Complaints</h2>
					  <p>Below are newly registered complaints classified as spam</p>
          </div>
          <div class="col-md-6">
            <div class="sidebar-box">
              <form class="search-form" method="GET" action="/admin/spam">
                <div class="form-group mb-0">
                  <span class="fa fa-search"></span>
                  <input type="text" name="query" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
          </div>
				</div>

        <% if (error) { %>
          <div class="alert alert-danger xbribe-animate mb-2"><strong><%= message %></strong></div>
        <% }else {%>
  
          <div id="posts">
  
            <div class="alert alert-success alert-dismissible fade show xbribe-animate mb-0">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= message %>
						</div>
						
						<div class="wrap-table100 xbribe-animate mt-3">
							<div class="table100 ver1 m-b-110">
								<table data-vertable="ver1">
									<thead>
										<tr class="row100 head">
											<th class="column100 column0" data-column="column0">S No.</th>
											<th class="column100 column1" data-column="column1">Department</th>
											<th class="column100 column2" data-column="column2">Case ID</th>
											<th class="column100 column3" data-column="column3">Date</th>
											<th class="column100 column4" data-column="column4">Place</th>
											<th class="column100 column5" data-column="column5">Status</th>
											<th class="column100 column6" data-column="column6">Priority</th>
											<th class="column100 column7" data-column="column7">Resolve Date</th>
										</tr>
									</thead>
									<tbody>

										<!-- loop over all cases and render them -->
										<% if (posts) { %>
											<% var n = (pageNo===1) ? 1 : ((pageNo-1)*pageSize+1)  %>
											<% for (var i=0; i < posts.length; i++) { %>
												<% var post = posts[i] %>
											
												<tr class="row100" onClick="location.href='/admin/cases/case?id=<%= post.caseId %>'">
													<td class="column100 column0" data-column="column0"> <%= n %> </td>
													<td class="column100 column1" data-column="column1"> <%= post.department || 'Not Specified' %> </td>
													<td class="column100 column2" data-column="column2"> <%= post.caseId %> </td>
													<td class="column100 column3" data-column="column3"> <%= post.date.toLocaleString() %> </td>
													<td class="column100 column4" data-column="column4"> <%= post.place %> </td>
													<td class="column100 column5" data-column="column5"> <b><%= post.status %></b> </td>
													<td class="column100 column6" data-column="column6"> <%= post.priority %> </td>
													<% if (post.resolvedAt) { %>
														<td class="column100 column7" data-column="column7"> <%= post.resolvedAt.toLocaleString() %> </td>
													<% } else { %>
														<td class="column100 column7" data-column="column7"> -- </td>
													<% } %>
												</tr>

											<% n=n+1 %>
										<% }} else { %>
											<div class="alert alert-danger mb-2">There was some error</div>
										<% } %>
			
									</tbody>
								</table>
							</div>
							
						</div>
            
          </div>
        <% } %>

				<%- include('../partials/pagination') %>

				<!-- <div class="heading-section xbribe-animate mb-3 mt-5">
					<h2 class="mb-5">Graphical Trends for All Ministries</h2>
					<div class="w-100">
						<canvas id="myChart"></canvas>
					</div>
				</div> -->

    	</div>
    </section>


    <footer class="footer xbribe-animate">
			<div class="container">
        <p class="copyright text-center mb-0">
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbribe
        </p>
			</div>
		</footer>    
  

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <!-- <script src="/js/popper.min.js"></script> -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- <script src="/js/jquery.easing.1.3.js"></script> -->
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <!-- <script src="/js/jquery.animateNumber.min.js"></script> -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- <script src="/js/scrollax.min.js"></script> -->
	<script src="/scripts/jquery-filter.js"></script>
  <!-- <script src="/js/Chart.bundle.min.js"></script> -->
  <!-- <script src="/scripts/draw-public-chart.js"></script> -->
	<script src="/js/main.js"></script>
	
	<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
	<script src="/scripts/firebase-config.js"></script>
	<script src="/scripts/firebase-messaging.js"></script>


    
  </body>
</html>