<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dashboard | Administrator</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/images/Xbribe_logo.png" type="image/x-icon">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
		<link rel="stylesheet" href="/css/animate.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/my-styles.css">
		<link rel="stylesheet" type="text/css" href="/css/table-dashboard.css">
	</head>
	<body>

	<!-- loader -->
	<div id="xbribe-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<nav class="navbar navbar-expand-lg navbar-dark xbribe_navbar bg-dark xbribe-navbar-light" id="xbribe-navbar">
			<div class="container">
				<a class="navbar-brand" href="/admin">Administrator</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#xbribe-nav" aria-controls="xbribe-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				</button>
				<div class="collapse navbar-collapse" id="xbribe-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a href="/" class="nav-link">Public Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/cases">See Cases</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/forecast">Forecast</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/manage-ministry">Manage Ministries</a></li>
						<li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END nav -->

		<section class="hero-wrap hero-wrap-22 bg-dark" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-end">
					<div class="col-md-9 xbribe-animate pb-4 pt-4">
						<h1 class="mb-0 text-dark breadd pt-5 mt-5">ADMINISTRATOR</h1>
					</div>
				</div>
			</div>
		</section>
		


				<!-- notification panel start -->
				<% if (reminders) { %>

					<div class="fab mycard icon d-flex align-items-center justify-content-center" id="notification-fab">
						<span class="fa fa-bell"></span>
						<div class="count-badge mycard" id="count-badge"><%= reminders.length %></div>
					</div>
			
					<div class="bg-white mycard p-2" id="notif-container">
						<h4 class="text-center mb-3 mt-2"><strong>Reminders</strong></h4>
						<!-- loop over all cases and render them -->
						<% if (reminders.length) { %>
							<% for (var i=0; i < reminders.length; i++) { %>
								<% var reminder = reminders[i] %>
			
								<div class="notification py-3 px-3 bg-light-" onClick="location.href='/admin/cases/case?id=<%= reminder.caseId %>'">
									<h6 class="mb-1">Case ID: <%= reminder.caseId %></h6>
									<p class="mb-0"><b>Dep:</b> <%= reminder.department %></p>
									<p class="mb-0"><b>Place:</b> <%= reminder.place %>, <%= reminder.date.toLocaleString() %></p>
									<p class="mb-0"><b>Last Reminded:</b> <%= reminder.remindedAt.toLocaleString() %></p>
								</div>
								<hr class="m-0">
			
						<% }} else { %>
							<div class="alert alert-danger mb-2">No reminders</div>
						<% } %>
			
					</div>
		
				<% } %>
				<!-- notification panel end -->


		<section class="xbribe-section bg-light xbribe-faqs">
			<div class="container">

				<div class="heading-section mb-5">
					<h2 class="mb-5 xbribe-animate">Overall statistics</h2>
					<div class="w-100 xbribe-animate">
						<canvas id="myChart"></canvas>
					</div>
				</div>

				<div class="heading-section xbribe-animate mb-5 mt-5 pt-5">
					<h2 class="mb-2">Ministry wise statistics</h2>
					<p>Below are some newly registered complaints arranged in tabular form</p>
				</div>

				<% if (error) { %>
					<div class="alert alert-danger xbribe-animate mb-2"><strong><%= message %></strong></div>
				<% }else { %>
					
					<% if (ministries) { %>
						<% for (let i=0; i < ministries.length; i++) { %>
							<% let ministry = ministries[i] %>

							<div class="wrap-tile-100 xbribe-animate my-3 row m-0 px-5">
								<div class="col-md-6 py-5">
									<h4 class="mb-2"><b><%= i+1 %>.</b> <%= ministry.ministryName %></h4>
									<h5 class="mb-2">ID: <%= ministry.ministryId %></h5>
									<p><b>Recieved: </b> <%= counts[ministry.ministryId].recieved %> </p>
									<p><b>Resolved: </b> <%= counts[ministry.ministryId].resolved %> </p>
								</div>
								<div class="col-md-6 py-3 px-4">
									<canvas id="<%= ministry.ministryId %>"></canvas>
								</div>
							</div>

						<% } %>		
					<% } %>
						
				<% } %>

			</div>
		</section>
		

		<!-- <section class="xbribe-section bg-light xbribe-faqs" id="forecast">
			<div class="container">

				<div class="heading-section mb-5">
					<h2 class="mb-5 xbribe-animate">Forecast of number of cases</h2>
					<h4 class="mb-4">Using Arbitrary Dataset 1</h4>
					<div class="w-100 xbribe-animate mb-5">
						<img class="w-100" src="/images/forecast/monthly1_modelfit.png">
					</div>
					<h4 class="mb-4">Using Arbitrary Dataset 2</h4>
					<div class="w-100 xbribe-animate my-5">
						<img class="w-100" src="/images/forecast/monthly2_modelfit.png">
					</div>
				</div>

			</div>
		</section> -->


		<footer class="footer xbribe-animate">
			<div class="container">
				<p class="copyright text-center mb-0">
					Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbribe
				</p>
			</div>
		</footer>    
	

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<!-- <script src="/js/popper.min.js"></script> -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="/js/jquery.easing.1.3.js"></script> -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- <script src="/js/jquery.animateNumber.min.js"></script> -->
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- <script src="/js/scrollax.min.js"></script> -->
	<script src="/scripts/jquery-filter.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="/scripts/draw-public-chart.js"></script>
	<script src="/scripts/draw-admin-chart.js"></script>
	<script src="/js/main.js"></script>

	<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
	<script src="/scripts/firebase-config.js"></script>
	<script src="/scripts/firebase-messaging.js"></script>
		
	</body>
</html>